---
---

<footer class="bg-gray-900 py-5">
    <div class="max-w-screen-lg mx-auto px-5">
        <div class="flex justify-between flex-col items-center lg:flex-row">
            <p class="text-3xl font-extrabold pb-5 text-gray-900 dark:text-white lg:pb-0">
                <span class="text-transparent bg-clip-text bg-gradient-to-r to-pink-200 from-purple-700">Astrowind</span>
            </p>
    
            <nav class="text-gray-500 flex flex-row gap-3">
                <a href="">About</a>
                <a href="">Privacy Policy</a>
                <a href="">Licensing</a>
                <a href="">Contact</a>
            </nav>
        </div>

        <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-2" />

        <div class="copy text-center">
            <h3 class="text-gray-500">&copy; 2023 Starness™. All Rights Reserved.</h3>
        </div>
    </div>
</footer>